@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url(FiraCode-Light.woff2) format('woff2');
}
body {
  background-image:url(dark-honeycomb.png);
  color:white;
}
.app {
  padding:2em;
  font-family: 'Fira Code', sans-serif;
}

/** add todo **/
.add-todo {
  margin-left: 0.5rem;
}

/** todo list **/
.todo-list {
  text-align: left;
  list-style: none;
}

/** todo item **/
.todo-item {
  cursor: pointer;
  line-height: 24px;
}
.todo-item__text--completed {
  color: lightgray;
  text-decoration:line-through;
}
.checkmark {
  font-size:24px;
  color:green;
  content:"✔";
}

/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}
.filter--active {
  border-bottom: 1px solid white;
}


div.viewList {
  width:40%;
  padding:2em;
  padding-bottom:1em;
  background: linear-gradient(rgba(90, 150, 239, 0.2),#000);
  border: thick ridge #b3b3b3;
  border-radius: 33px;
  position:relative;
}
div.viewList .title {
  position:absolute;
  top:10px; 
  left:20px;
}
div.wastebasket {
  background-image:url(wastebasket_1f5d1.png);
  height:64px;
  width:64px;
  transition:  transform 1s;
}
div.wastebasket:hover {
  cursor:pointer;
  transform: scale(1.2,1.2);
}
div.visibility-filters {
  padding-top:2em;
}