@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FiraCode-Light.woff2) format('woff2');
}
@font-face {
  font-family:'Calibri';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Calibri.ttf)  format('truetype'),    
}
@font-face {
  font-family:'Palatino';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/pala.ttf)  format('truetype'),    
}

body {
  background-image:url(dark-honeycomb.png);
  color:white;
}
.app {
  font-family: 'Calibri', 'Fira Code', sans-serif;
  width:100%;
  position:relative;
}
@media only screen and (min-width: 1200px) {
  .app {
    width:60%;
    margin:0 auto;
  }
}
.appTitle {
  width:80%;
}
.fontCalibri {
  font-family: 'Calibri';
}
.fontPalatino {
  font-family: 'Palatino';
}
.fontFiraCode {
  font-family: 'Fira Code';
}

.fontMedium {
  font-size:14px;
}
.fontLarge{
  font-size:18px;
}
.fontSmall{
  font-size:12px;
}


.appTitle {
  font-size:18px;
}
.todo-app {
}
/** add todo **/
.add-todo {
  margin-left: 0.5rem;
}

/** todo list **/
.todo-list {
  text-align: left;
  list-style: none;
}

/** todo item **/
.todo-item {
  cursor: pointer;
  line-height: 24px;
  margin-top:10px;
}
.todo-item__text--completed {
  color: lightgray;
  text-decoration:line-through;
}
.checkmark {
  font-size:24px;
  color:green;
  content:"✔";
}

div.configurationIcon {
  cursor:pointer;
  width:27px;
  height:27px;
  background-image:url(smallgear.png);
}
div.viewList {
  width:80%;
  padding-top:2em;
  padding-bottom:1em;
  padding-left:20px;
  background: linear-gradient(rgba(90, 150, 239, 0.2),#000);
  border: thick ridge #b3b3b3;
  border-radius: 33px;
  position:relative;
}
div.viewList .title {
  position:absolute;
  top:10px; 
  left:20px;
}
div.wastebasket {
  background-image:url(wastebasket_1f5d1.png);
  height:64px;
  width:64px;
  transition:  transform 1s;
  position:relative;
}
div.wastebasket:hover {
  cursor:pointer;
  transform: scale(1.2,1.2);
}
div.numTrash {
  color:white;
  border-radius:10px;
  text-align:center;
  font-weight:bold;
  background-color:red;
  width:20px;
  line-height:20px;
  height:20px;
}
div.visibility-filters {
  padding-top:2em;
  width:100%;
  display:flex;
  justify-content:space-between;
}


/** visibility filters **/
.filter {
  cursor: pointer;
}
.filter--active {
  border-bottom: 1px solid white;
}
